

footer
{
	display:flex;
	font-family: Raleway, sans-serif;
  	width:100%;
  	background-color:#F2F2F2;
}

h3
{
	font-size:0.8em;
	font-weight:bold;
	text-indent: none;
}

.apropos,.noshebergements,.assistance
{
	display:flex;
	flex-direction: column;
	margin:0;
	justify-content:flex-start;
	padding-left:0;
	align-items:flex-start;
}
.apropos{margin-left: 3.5%;}
.customized{color:black;}




/*li:hover{border-top:2px solid rgb(0,101,252);
		padding-top:20px;border-top-width:100%;}*/

/* remove the class customized?*/

		
/*
#section1 
{
  width: 100%;
  border: 1px solid #f2f2f2;
  background-color: #f2f2f2;
}

#section2 
{
  width: 100%;
}
*/