h1
{	font-weight:bold;
	font-size:1.1em;
}

ul
{list-style-type: none;}


h2,nav
{
	font-size:0.7em;
}

form
{	font-weight:bold;
	font-size:0.9em;

}

a:visited
{
	color:purple;
}
a:hover{border-top:2px solid rgb(0,101,252);
		padding-top:20px;border-top-width:100%;}

.buttonfilter:hover{background-color:#DEEBFF;}
