@media screen and (min-width:601px) and (max-width:800px) /* tablette */
{
/*Menu de navigation*/

	nav ul      
	{
		width:100%;
	  	display: flex;
	  	flex-direction:row;
	  	flex-wrap: wrap;
	  	justify-content: space-between;  
	  	padding-left:0;
	}


	nav a:hover
	{
		border:none;
	}
	nav li:nth-child(2)
	{
		margin-left:42%;
	}

	#ancre_activités
	{
		color:black;
	}

/*Filtres et rechercher*/
	form
	{
		width:auto;
	}

/*Section 1 : hébergements et les plus populaires*/
	#box1, #box2, #box3, #box4, #box5, #box6 
	{
		width:47%;
	}
	.afficherplus h4 
	{
		padding-bottom:0;
	}
	.bigbox img
	{
		height:5rem;
	}
	aside
	{
		width:auto;
		padding-bottom:2rem;
	}
	#asidebox1
	{
		margin-top:3%;
	}
	#asidebox2
	{
		gap:2rem;
	}

	.noshebergements,.assistance
	{
		margin-left:0;
	}
}